.error-msg {
    color: #f50;
    padding: 15px 15px 0;
}

.am-tab-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.am-nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
}

.page-content {
    padding: 45px 5px;
}
